<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:alexeip@berkeley.edu">email</a></li>
   <li><a href="https://github.com/ucb-smartcities">github.com/ucb-smartcities</a></li>
   <li><a href ="http://smartcities.berkeley.edu/">Website</a></li>
   </ul>
  </footer>
  </body>

</html>
